<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bem-vindo {{nome}}</h1>
    <h1>Lista de produtos</h1>
    <table>
        <thead>
            <tr>
                <th>Nome do produto</th>
                <th>Preço</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
    {% for p in produtos %}
            <tr>
                <td>{{p.nome}}</td>
                <td>{{p.preco}}</td>
                <td><button type="submit"><a href="/carrinho/add?id={{p.id}}">+</a></button>
                <button type="submit"><a href="/carrinho/del?id={{p.id}}">-</a></button></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

<h1>Carrinho</h1>
    <ul>
	{% for p in carrinho %}
		<li>{{p.qntd}}x {{p.nome}}: {{p.total}}</li>
	{% endfor %}
    </ul>

{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
		<h1>Avisos</h1>
		<ul>
			{% for category, message in messages %}
			<li class="{{ category }}">{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
{% endwith %}
</body>
</html>
